/* You can add global styles to this file, and also import other style files */
body,html{
    height:100%;
}

section{
	margin-bottom: 20px;
}

.navbar-brand{
    font-family: roboto;
    font-weight: bold;
    font-size: 2rem;
}

.nav-wrapper ul li{
	margin-left: 10px;
}