.wrap {
   /* background-image: url(../../../assets/images/scatter_paper.jpeg); */
  background-size: cover;
  background-blend-mode: multiply;
}

.content{
  max-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  text-align: center;
}
