<div class='wrap'>
  <div class='content'>
    <h2 class="sub-section">
      Start writing your stories. Read what others say about the world.
    </h2>
    <div class="row d-flex justify-content-center">
      <button type="button" class="btn btn-dark mr-2 mb-2" routerLink="/login" *ngIf="!authService.loggedIn()" >
        Sign In
      </button>

      <button type="button" class="btn btn-outline-dark mr-2 mb-2" routerLink="/register" *ngIf="!authService.loggedIn()" >
        Register
      </button>
    </div>
  </div>
</div>
