<div class="container">
<!-- alert block starts -->
  <div class="row" *ngIf = 'message && newBlog'>
    <div [ngClass] = "messageClass">
      {{ message }}
    </div>
  </div>
<!-- alert block ends -->

<!-- buttons block starts -->
  <div class="row sub-section">
    <div class="col-md-12 d-flex justify-content-end">
      <button type="button" class="btn btn-dark mr-2 mb-2" *ngIf='!newBlog' (click) = 'newBlogForm()' >Create your Blog</button>

      <button type="button" class="btn btn-outline-secondary mr-2 mb-2" [disabled] = 'loadingBlogs' *ngIf='!newBlog' (click)='reloadBlogs()' >
          <i fa [name]="'refresh'" [pull]="'left'"></i>
        Refresh
      </button>
    </div>
  </div>
<!-- button block ends -->

<!-- form for new Blog starts -->
  <div *ngIf='newBlog'>
      <form class="form" [formGroup]='form' (submit)='onBlogSubmit()'>
          <div class="form-group">
            <div class="custom-form-group clearfix">
                <label class="form-label" for="title">
                  <span class="input-label-content"> Blog Title </span>
                </label>
                <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title" [ngClass] = "{ 'is-valid': form.controls['title'].valid,'is-invalid': form.controls['title'].errors && form.controls['title'].dirty }" />
            </div>
            <div id="titleHelp" class="form-text text-danger">
              <small *ngIf="form.controls['title'].errors?.required && form.controls['title'].dirty">
                Title is required.
              </small>
              <small *ngIf="(form.controls['title'].errors?.minlength || form.controls['title'].errors?.maxlength) && form.controls['title'].dirty">
                Title must be at least 5 character long but no more than 50.
              </small>
              <small *ngIf="form.controls['title'].errors?.alphaNumericValidation && form.controls['title'].dirty">
                  Title must contain only letters and numbers.
                </small>
            </div>
          </div>  <!-- close form group -->

          <div class="form-group">
            <div class="custom-form-group clearfix">
                <label class="form-label" for="body">
                  <span class="input-label-content"> Write your Blog </span>
                </label>
                <textarea rows = '10' name="body" class="form-control" id="body" aria-describedby="bodyHelp" formControlName="body" [ngClass] = "{ 'is-valid': form.controls['body'].valid,'is-invalid': form.controls['body'].errors && form.controls['body'].dirty }">
                </textarea>
                <app-text-editor [elementId]="'bodytwin'" (EditorKeyup)= 'onBodyTextEditorKeyUp($event)' ></app-text-editor>
              </div>
            <div id="bodyHelp" class="form-text text-danger">
              <small *ngIf="form.controls['body'].errors?.required && form.controls['body'].dirty">
                Body of the blog is required.
              </small>
              <small *ngIf="(form.controls['body'].errors?.minlength || form.controls['body'].errors?.maxlength) && form.controls['body'].dirty">
                Body of the blog must be at least 5 character long but no more than 5000.
              </small>
            </div>
          </div>  <!-- close form group -->

          <div class="form-group">
            <div class="custom-form-group clearfix">
                <label class="form-label" for="category">
                  <span class="input-label-content"> Select Category </span>
                </label>
                <select class="form-control" formControlName = "category" id='category'
                [ngClass] = "{ 'is-valid': form.controls['category'].valid, 'is-invalid': form.controls['category'].errors && form.controls['category'].dirty }" >
                  <option value="" class = 'text-muted' disabled selected>Select one of the categories</option>
                  <option *ngFor="let category of categories" [value]="category.name"> {{category.name}}</option>
                </select>
            <div id="categoryHelp" class="form-text text-danger">
              <small *ngIf="form.controls['category'].errors?.required && form.controls['category'].dirty">
                Category is required field.
              </small>
            </div>
            </div>
          </div>  <!-- close form group -->

          <button class="btn btn-outline-secondary mr-2 mb-2" [disabled] = 'processing' (click) = 'onBackClick()'>Back</button>
          <button type="submit" class="btn btn-outline-secondary mr-2 mb-2" [disabled] = '!form.valid ||processing'>Submit</button>
        </form>
  </div>
<!-- form for new Blog ends -->

  <div *ngIf = '!newBlog'>
      <div class="row" >
        <div class="col-md-6" *ngFor = "let blog of allBlogs">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
          <h3 class="text-dark"> {{ blog.title }} </h3>
          <p class="mb-1 text-muted">{{ blog.createdAt | date:'short' }}
            <a (click) = 'goToPublicProfile(blog.createdBy)'>{{ blog.createdBy }}</a></p>
            <div class="post-content" [innerHTML]="blog.body"></div>
            <button type="button" class="btn btn-outline-primary mr-2 mb-2"[routerLink]="['/view-blog/', blog._id]"> Continue reading
          </button>
            </div>
            </div>

            <!-- <button type="button" class="btn btn-outline-secondary mr-2 mb-2"[routerLink]="['/edit-blog/', blog._id]" *ngIf = "username === blog.createdBy">
              <i fa [name]="'edit'" [pull]="'left'"></i>Edit
          </button> -->
        </div> <!-- close of blog-post -->
      </div> <!-- close of row -->
  </div>


</div> <!-- end of container -->
