<section class="navbar-light bg-light position-fixed custom-navbar">
  <div class="container">
    <!-- first row -->
  <div class="nav-wrapper row flex-nowrap justify-content-between">
      <a class="p-2 navbar-brand" href="#">myBlog</a>

      <div class="flex-nowrap d-flex align-items-center justify-content-end">
        <form class="form-inline flex-nowrap">
          <input class="form-control mr-sm-2" type="" placeholder="Search by Blog title" #searchText aria-label="Search" (keyup.enter) = 'onEnter(searchText.value)'>
        </form>
        <ul class="navbar-nav flex-row flex-nowrap">
          <li *ngIf="authService.loggedIn()" class="nav-item">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLinkActive]="['active']"><i fa [name]="'bell'" [pull]="'left'"></i>
              <span class="badge badge-danger" *ngIf = '!notificationMessage'>{{ notificationCount }}</span></a>
            <div class="dropdown-menu">
              <div class='dropdown-item' *ngIf = 'notificationMessage'>
                {{ notificationMessage }}
              </div>
              <div *ngIf = '!notificationMessage'>
                  <a class="dropdown-item"  *ngFor='let notification of notifications' (click) = 'onNotificationClick(notification._id,notification.notification,notification.blogId)' [class.seenClass]="notification.seen">{{ notification.notification }}</a>
              </div>
            </div>
          </li>

          <li *ngIf="!authService.loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']" >Sign In</a>
          </li>
          <li *ngIf="!authService.loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Register</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/profile" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Profile</a>
          </li>
          <li *ngIf="authService.loggedIn()" class="nav-item">
            <a class="nav-link" href="#" (click) = 'onLogoutClick()' >Logout</a>
          </li>
        </ul>
      </div>
  </div>

 <!--  second row -->
    <ul class="row navbar-nav flex-row flex-nowrap">
      <li class="nav-item active">
        <a class="p-2 nav-link" routerLink="/home" [routerLinkActive]="['active']"
 [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="authService.loggedIn()" class="p-2 nav-link" routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="p-2 nav-link" routerLink="/blog" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Blog</a>
      </li>
      <li class="nav-item" *ngFor="let category of categories">
        <a class="p-2 nav-link" [routerLink]="['/categorical-blog/', category.name]"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" > {{category.name}} </a>
      </li>
    </ul>
  </div>
</section>


